.login-container {
  background-color: #ffffff;
  border-radius: 3px;
  padding: 25px 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.login-container h1 {
  text-align: center;
  color: #5e6c84;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.blue-icon {
  color: #007cff;
}

.title-login {
  display: block;
  height: 43px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.login-btn {
  width: 100%;
  margin-top: 1.5rem;
  background: #5aac44;
  color: #fff;
  border-radius: 0.3em;
  display: inline-block;
  font-weight: bold;
  padding: 0.6em 1.3em;
  position: relative;
  text-decoration: none;
  border: 0px;
}
