.column-title {
  position: relative;
}


.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 32px;
}
.drop-area {
  background: #ebecf0 ;
  min-height: 200px;
  margin: 5px;
  padding-bottom: 20px;
  width: 33%;
  border-radius: 10px;
  transition: all 0.5s;
}
.item-container {
  position: relative;
  padding: 15px;
  background: rgba(255, 255, 255, 0.7);
  margin: 20px;
  color: #172b4d;
  font-weight: 100;
  cursor: grab;
  border-radius: 4px;
  transition: background 0.4s;
  &:hover {
    background: rgba(255, 255, 255, 0.9);
  }
}

.column-title {
  position: relative;
  color: #172b4d;
  padding: 20px 0 0 20px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
}

.card-content{
  overflow: hidden;
}

.fa:hover{
  cursor: pointer;
}


.edit{
  cursor: text;
  overflow: auto;
  white-space: normal;
}

.line{
  width: 100%;
  height: 0px;
  top:4;
  right:4;
  border-bottom: 2px solid white;
  -webkit-transform:
      rotate(135deg); 
  position: absolute;
}