@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css);

body {
  background: url(./asset/img/background.jpg) no-repeat fixed center;
  background-size: cover;
}
.main-container {
  right: 0px;
  height: fit-content;
  width: -webkit-fill-available;
  display: flex;
  flex-wrap: wrap;
}

.fill {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.right-center {
  position: absolute;
  top: 5px;
  right: 5px;
}

.nav-bar {
  background-color: #026aa7;
}
.icon {
  color: white;
  margin: auto;
  font-size: 1.2em;
}

.logo {
  opacity: 0.5;
}

.logo:hover {
  opacity: 0.75;
}

.top-button {
  box-sizing: border-box;
  border-radius: 3px;
  border: 0;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, 0.3);
  box-shadow: none;
  color: #fff;
  display: flex;
  font-weight: 700;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin:0 2px 0 2px;
  padding: 0;
  white-space: nowrap;
  position:relative;
}

.top-button:hover,.top-circle-btn:hover{
  opacity: 0.8;
  text-decoration: none;
}

.top-circle-btn {
  align-items: center;
  background-color: #dfe1e6;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  border-radius: 100%;
  box-sizing: border-box;
  color: #172b4d;
  display: inline-flex;
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  line-height: 32px;
  opacity: 1;
  height: 32px;
  width: 32px;
  overflow: hidden;
  white-space: nowrap;
}


.right-nav {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  justify-content: flex-end;
}
a:hover{
  text-decoration: none;
}