.board {
  width: 10rem;
  height: 5rem;
  justify-content: center;
  text-align: center;
  margin: 5px;
}

.title {
  font-family: "Arial-Black", sans-serif;
  display: inline;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  width: 230px;
  background-color: #343a40 !important;
}

.main-container {
  position: absolute;
  right: 0px;
  height: auto;
  width: -webkit-fill-available;
  display: flex;
  flex-wrap: wrap;
}

.fill {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
